$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$black: rgb(32, 32, 32);
$tan: rgb(245, 245, 245);

@import 'sass-bootstrap/lib/bootstrap';



.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-bottom: 20px;
    background-color: $tan;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #d2d2d2;
    background-color: $black;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
        color: $tan;
        
    }
}

.login {
    padding-top: 10px;

}

.login-btn {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: bottom;
}

.home-btn {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: bottom;

}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.connect {
    outline: 1px solid blue;
}

.container-narrow > hr {
    margin: 30px 0;
}

.browse-navigation ul {
float: left;
font-size: 14px;
display: block;
height: 55px;
margin-top: -25px;
overflow: hidden;
width: 980px;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    height: 400px;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

.footer {
    background-color: $black;

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
