$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$black: rgb(32, 32, 32);
$tan: rgb(245, 245, 245);
$sand: rgb(238, 242, 234);

@import 'sass-bootstrap/lib/bootstrap';



.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-bottom: 20px;
    
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #d2d2d2;
    background-color: $black;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
        color: $tan;
        
    }
}

.login {
    padding-top: 10px;

}

.login-btn {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: bottom;
}

.home-btn {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: bottom;

}


/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.connect {
    outline: 1px solid blue;
}

.container-narrow > hr {
    margin: 30px 0;
}

.browse-navigation ul {
float: left;
font-size: 14px;
display: block;
height: 55px;
margin-top: -25px;
overflow: hidden;
width: 980px;
}

.banner {
    z-index: 1;
    margin: 0 auto;
    height: 88px;
    position: relative;
    box-shadow: 0 5px 5px -4px gray;

    .banner-text {
        margin: 0 auto;
        background: #fff;
        text-align: center;
        color: black;
        font-size: 36px;
        position: relative;
        line-height: 70px;
    }
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    background-color: $sand;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }

    .sidebar {
        height: 300px;
        background-color: rgb(39, 40, 34);
        color: $tan;
        font-size: 15px;

    }

    .project-pic {
        height: 125px;
        width: 125px;
        border-radius: 100%;
    }

    .main {
        
    

  .main-left {
    width: 485px;
    height: 525px;
  }

  .left-content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .right-content {
    display: inline-block;
    height: 525px;
    width: 300px;
    position: absolute;

    .box1 {
        width: 135px;
        height: 153px;
        top: 20px;
        background: rgb(207, 205, 199);
        }

    .leftnumber {
        font-size: 74px;
        text-align: center;
        color: #fff;
        position: relative;
        top: -30px;
        text-shadow: 0 1px 1px #444;
    }

    .box2 {
        width: 135px;
        height: 153px;
        top: 20px;
        display: inline-block;
        background: rgb(207, 205, 199);
        left: 5px;
    }

    .rightnumber {
        font-size: 74px;
        text-align: center;
        color: #fff;
        position: relative;
        top: -30px;
        text-shadow: 0 1px 1px #444;

    }

    .minibox {
        width: 135px;
        height: 32px;
        margin-top: -38px;
        background: rgb(182, 174, 162);
        position: absolute;
        left: 0px;

         .leftclass {
            font-size: 12px;
            text-transform: uppercase;
            text-align: center;
            margin: 6px;
            letter-spacing: 1.5px;
            color: rgb(65, 65, 65);
        }   
    }

    .minibox2 {
        left: 0px;
        position: absolute;
        width: 135px;
        height: 32px;
        margin-top: -38px;
        background: rgb(182, 174, 162);


        .rightclass {
            font-size: 10px;
            text-transform: uppercase;
            text-align: center;
            margin: 6px;
            letter-spacing: 1.5px;
            color: rgb(65, 65, 65);

        }
    }

    .line {
        margin-top: 127px;
        width: 265px;
        height: 0px;
        border-top: solid 1px rgb(177, 177, 177);
        border-bottom: solid 1px rgb(177, 177, 177);

    }
    .edit-account {
        bottom: -105px;
        position: relative;
    }

    
    


  } //end of right-content

} //end of main

} //end of jumbo

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

.footer {
    background-color: $black;

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
